:root{
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    height: 100%;
}

.logo {
    padding: 4rem 8rem 6rem;
}

.main-container {
    padding-left: 8rem;
    
}

.hero-patern {
    height: 100vh;
    background-image: url(./images/bg-pattern-desktop.svg);
}

.hero-desktop {
    height: 100vh;
    background-image: url(./images/hero-desktop.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.h1-hl {
    font-size: 4rem;
    font-weight: 300;
    color: var(--Desaturated-Red);
}

h1 {
    font-size: 4rem;
    letter-spacing: 1.3rem;
    line-height: 4.3rem;
    text-transform: uppercase;
    width: 20rem;
    color: var(--Dark-Grayish-Red);
}

p {
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 2rem;
    width: 30rem;
    color: var(--Desaturated-Red);
}

input {
    margin-top: 2rem;

    border-color: var(--Desaturated-Red);
    border-radius: 2rem;
    border-style: solid;
    height: 4rem;
    width: 30rem;
    padding-left: 2rem;
    color: var(--Desaturated-Red);
    
    background-repeat: no-repeat;
    background-position: 21rem;
}

#error-text {
    margin-top: 0;
    padding-left: 2.5rem;
    color: var(--Soft-Red);
    font-size: 1rem;
}

#btn-submit {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    
    width: 6rem;
    height: 4rem;
    position: absolute;
    left: 32rem;
    bottom: 10.1rem;
    transition: 0.3s;
}

#btn-submit:hover {
    background-image: linear-gradient(135deg, hsl(0, 63%, 95%), hsl(0, 92%, 85%));
    box-shadow: -25px 24px 54px -23px rgba(172, 3, 3, 0.77);
}


footer {
    padding-left: 8rem;
    position: fixed;
    bottom: 4rem;
    color: var(--Desaturated-Red);
    font-size: 0.8rem;
    
}

footer a {
    text-decoration: none;
    color: var(--Soft-Red);
}